
*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family: 'Inconsolata';
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; overflow: hidden;
}

.input-container{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.imgcontainer {
  text-align: center;
}

img.avatar, .imgcontainer > i{
  width: 30%;
  border-radius: 10%;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 0px 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.bottom{
  float: end;
  position: absolute;
  bottom: 30px;
  right: 5%;
  font-size: 14px;
}
.link{
  color: black;
  list-style-type: none;
  text-decoration: none;
}

.link a{
  color: blue;
}

.button {
  background-color: white; /* Green */
  border: 2px solid #4CAF50;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.form {
  width: 100%; 
  padding: 10px 30px; 
}


.formdiv{
  width:500px; 
  position: absolute; 
  top: 50%;  
  transform: translate(-50%, -50%);  
  padding: 20px 30px;
  transition: 1s;
}

#otp::-webkit-inner-spin-button,
#otp::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

#otp{
  -moz-appearance: textfield;
}

.password,.register{
  transition: 1s;
}

.password{
  left : 150%;
}

.loadbox{
  height: 40px;
  width: 200px;
  position: absolute;
  bottom: -50px;
  right: 20px;
  background-color: white;
  transition: .5s;
  border-radius: 5px;
  border: 2px solid #999;
  color: #333;
  font-size: 14px;
}

.loadicon{
  height: 30px;
  width: 30px; 
  border-radius: 50%;
  border: 5px solid white;
  border-top: 5px solid dodgerblue; 
  background-color: white;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -15px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {transform: rotate(0deg)}
  to   { transform: rotate(360deg)}
}