*{ margin: 0px; padding: 0px; box-sizing: border-box; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

body{
    background-image: url(../image/ooo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    background-color: white;
}

.btn{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin: 0px 6px;
    transition: 0.5ms;
}
ul li :hover{
    color: rgba(0, 0, 0, 0.699);
}

ul li a h4 {
    padding: 6px 15px;
    color: black;
}

#searchbar{
    float: right;
}

input[type=search]{
    padding: 6px 15px;
    width: auto;
    height: auto;
    font-size: 18px;
    background-color: white;
    border: none;
    border-radius: 3px;
}

input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

.bottom{
    float: end;
    position: absolute;
    bottom: 30px;
    right: 5%;
}
.link{
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.link a{
    color: blue;
}

