body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.imgcontainer {
  text-align: center;
  margin: 10px 0 8px 0;
}

img.avatar {
  width: 50%;
  border-radius: 10%;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.bottom{
  float: end;
  position: absolute;
  bottom: 30px;
  right: 5%;
  font-size: 14px;
}
.link{
  color: black;
  list-style-type: none;
  text-decoration: none;
}

.link a{
  color: blue;
}